{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
 .bdy
{
 border: 4px groove black;
    background: linear-gradient(90deg, #faf0cd, #fab397);
    padding: 10px;
}

</style>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'polls/static/polls/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
<div class="bdy">
        <h3><p align="center">Навигация по сайту</h3>
        <ul>
            <a class="btn btn-info" style="margin:10px" onclick="document.location='../../main'"><i class="fas fa-arrow-alt-circle-right"></i> Главная</a>
            <a class="btn btn-info" style="margin:10px" onclick="document.location='../../polls/'"><i class="fas fa-arrow-alt-circle-right"></i> Мои опросы   </a>
            <a class="btn btn-info" style="margin:10px"  onclick="document.location='../../blogs/'"><i class="fas fa-arrow-alt-circle-right"></i> Мои блоги</a>
            <a class="btn btn-info" style="margin:10px" onclick="document.location='../../logout'"><i class="fas fa-arrow-alt-circle-right"></i> Выход</a>
            <a class="btn btn-info" style="margin:10px" onclick="document.location='../../admin/'"><i class="fas fa-arrow-alt-circle-right"></i> Панель админа</a><br>
            <a style="font: normal small-caps 30px; margin:10px"> На сайте под именем: {{ user.username }} </a>
        </ul>
    </div>
    <main>
    {% block content %}
    {% endblock %}
    </main>
</body>
</html>