{% extends 'polls/layout.html' %}
{% block title %}Создание Блога{% endblock %}
{% block content %}
<style>
   BODY
   {
    background-blend-mode: screen;
	background:
		linear-gradient(limegreen, transparent),
		linear-gradient(90deg, skyblue, transparent),
		linear-gradient(-90deg, coral, transparent);
   }
  </style>
<div class="features">
    <h1>
        Редактирование Опроса
    </h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.question_text }}<br>
        {{ form.pub_date }}<br><br>
        <span>{{ error }}</span>
        <button class="btn btn-success" type="submit">Изменить опрос</button>
    </form>
</div>
{% endblock %}