
main .features
{
    align=center
    float: left;
    color: #FF7F50;
    margin-top: 100px;
    text-align: center;
    width: 80%;
}

main .INDEX {
    color: black;
    margin-left: 350px;
    width: 75%;
}

form {
    margin-left: 21%;
    width: 700px;
    margin-top: 50px;
    }