{% extends 'polls/layout.html' %}

{% block content %}
<style>
   BODY
   {
    background-blend-mode: screen;
	background:
		linear-gradient(limegreen, transparent),
		linear-gradient(90deg, skyblue, transparent),
		linear-gradient(-90deg, coral, transparent);
   }
  </style>
<div class="INDEX">
     <h1>
        <p align="center" style="color:#DC143C; font-size:35px">
        Список блогов
    </h1>
     <h2>
        {% if latest_blog_list %}
            <ul>
            {% for blog in latest_blog_list %}
               <p align="left" style="color:#DC143C; font-size:35px">
               <p><li><a href="{% url 'blogs:detail' blog.id %}">{{ blog.title }}<br></a></li></p>
            {% endfor %}
            </ul>
        {% else %}
             <p>Нет созданных блогов.</p>
        {% endif %}
     </h2>
    <h4>
<button class="btn btn-success" onclick="document.location='create'">Создать блог</button>
    </h4>
    <h5>
            <p style="margin-top:200px">

        </h5>
</div>

{% endblock %}