 <style>
        BODY
        {
        background-blend-mode: screen;
	    background:
		linear-gradient(limegreen, transparent),
		linear-gradient(90deg, skyblue, transparent),
		linear-gradient(-90deg, coral, transparent);
		}

  </style>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'polls/static/polls/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <div class="features">
        <h1>
            <p align="center" style="font-size: 40px; margin-top: 100px">
        Пользователь был зарегистрирован<br>
            <p align="center" style="font-size: 20px">
        Теперь вы можете войти на сайт <br>
        </h1>
             <p align="center" style="font-size: 40px; margin-top: 100px">
            <button class="btn btn-outline-light" style="height:100px;width:400px"
                    onclick="document.location='../../'">Ok</button>
    </div>